@model IEnumerable<_04_Data.Datos.Juego>

@{
    ViewBag.Title = "Index";
}




<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Cyborg - Awesome HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="~/Content/css/owl.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

    TemplateMo 579 Cyborg Gaming

    https://templatemo.com/tm-579-cyborg-gaming

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <!-- ***** Header Area End ***** -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-content">

                    <!-- ***** Banner Start ***** -->
                    <!-- ***** Banner End ***** -->
                    <!-- ***** Most Popular Start ***** -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="featured-games header-text">
                                <div class="heading-section">
                                    <p>
                                        @Html.ActionLink("Create New", "Create")
                                    </p>
                                    <h4>Juegos</h4>
                                </div>
                                <div class="owl-features owl-carousel">
                                    @foreach (var item in Model)
                                    {
                                        string miFoto = "../../Content/images/juego/" + item.id + ".jpg";
                                        <div class="item">
                                            <div class="thumb">
                                                <img src="@miFoto" alt="">
                                                <div class="hover-effect">
                                                    <h6>@Html.DisplayFor(modelItem => item.Plataforma.nombre)</h6>
                                                </div>
                                            </div>
                                            <h4>@Html.DisplayFor(modelItem => item.nombre)<br>
                                            <span>Desarrollador :@Html.DisplayFor(modelItem => item.Desarrollador.nombre)</span><br>
                                            <span>Distribuidor :@Html.DisplayFor(modelItem => item.Distribuidor.nombre)</span>
                                            
                                            </h4>
                                            <ul>
                                                <li>Fecha de lanzamiento: @Html.DisplayFor(modelItem => item.fecha_lanzamiento)</li>
                                                <li> @Html.ActionLink("Edit", "Edit", new { id = item.id }) |</li>
                                                <li> @Html.ActionLink("Details", "Details", new { id = item.id }) |</li>
                                                <li>@Html.ActionLink("Delete", "Delete", new { id = item.id }) |</li>
                                                <li>@Html.ActionLink("Detalles de los Clientes", "Index", "Cliente_Juego", new { id = item.id, cliente_juego = false }, null)</li>

                                            </ul>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>

                    
                        <!-- ***** Most Popular End ***** -->
                        <!-- ***** Gaming Library Start ***** -->
                        <!-- ***** Gaming Library End ***** -->
                    </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">

            </div>
        </div>
    </footer>


    <!-- Scripts -->
     Bootstrap core JavaScript 
    @*<script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Scripts/js/isotope.min.js"></script>
    <script src="~/Scripts/js/owl-carousel.js"></script>
    <script src="~/Scripts/js/tabs.js"></script>
    <script src="~/Scripts/js/popup.js"></script>
    <script src="~/Scripts/js/custom.js"></script>*@


</body>

</html>