@model _04_Data.Datos.Cliente_Juego

<h2>Details</h2>

<div>
    <h4>Cliente_Juego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Juego.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Juego.nombre)
        </dd>

    </dl>
</div>
@{
    string onClickAnterior = "Cliente_JuegoApi(" + Model.id + "," + 0 + ")";
    string onClickSiguiente = "Cliente_JuegoApi(" + Model.id + "," + 1 + ")";

}
<input class="btn btn-transparent smooth-scroll;" style="border-width: 2px; float: left; font-size: 12px; border-color: aqua" value="Anterior" onclick=@onClickAnterior>
<input class="btn btn-transparent smooth-scroll;" style="border-width: 2px; float: right; font-size: 12px; border-color: aqua" value="Siguiente" onclick=@onClickSiguiente>
@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
@Html.ActionLink("Back to List", "Index")
<!--<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">-->

                <!-- ***** Banner Start ***** -->
                <!-- ***** Banner End ***** -->
                <!-- ***** Most Popular Start ***** -->
                <!-- ***** Most Popular End ***** -->
                <!-- ***** Gaming Library Start ***** -->
                <!-- ***** Gaming Library End ***** -->
            <!--</div>
        </div>
    </div>
</div>-->
@{
    Layout = null;
}




